<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <% if (prods.length > 0) { %>
        <ul>
        <% prods.forEach(p => { %>
          <li class="cart__item">
            <p><%= p.title %></p>
            <h2>Quantity : <%= p.cartItem.quantity %></h2>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" value="<%= p.id %>" name="id" id="id">
              <button type="submit" class="btn">Delete Item In Cart</button>
            </form>
          </li>  
        <% }) %>
        </ul>
        <hr/>
        <div class="centered">
          <form action="/create-order" method="post">
            <button class="btn" type="submit">Order Now!!</button>
          </form>
        </div>
      <% } else { %>
        <h1>No Product Cart</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>
