<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (orders.length <= 0) { %>
        <h1>Nothing There</h1>
      <% } else { %>
        <ul>
          <% orders.forEach((items) => { %>
            <li>
              <h1># <%= items.id %></h1>
              <ul>
                <% items.products.forEach(item => { %>
                  <li><%= item.title %> (<%= item.orderItems.quantity %>)</li>
                <% }); %>
              </ul>
            </li>
          <% }); %>
        </ul>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>
