<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
      <h1><%= prods.title %></h1>
      <hr>
      <div>
        <img src="<%= prods.imageUrl %>" alt="<%= prods.title %>">
      </div>
      <h2><%= prods.description %></h2>
      <p><%= prods.price %></p>
      <a class="btn" href="/products">Back To List</a>
      <form action="/cart" method="post">
        <button type="submit" class="btn">Add To Cart</button>
      </form>
    </main>
<%- include('../includes/end.ejs') %>
