<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
      <h1><%= prods.title %></h1>
      <hr>
      <div class="image">
        <img src="<%= prods.imageUrl %>" alt="<%= prods.title %>">
      </div>
      <h2><%= prods.description %></h2>
      <p><%= prods.price %></p>
      <a class="btn" href="/products">Back To List</a>
      <%- include('../includes/add-to-cart.ejs', {
        prod: prods._id
      }) %>
    </main>
<%- include('../includes/end.ejs') %>
